<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>OrderBook</title>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
{% if user.is_authenticated %}
 <h1>OrderBook</h1>

    <div class="sellbook">
    <h3>Sells</h3>
  {{ sells |safe }}
  </div>
   <div class="buybook">
    <h3>Buys</h3>
    {{ buys |safe }}
   </div>
{% else %}
<h2>User not authenticated</h2>
{% endif %}
</body>
</html>